{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="js-base-content wrapper">

        <div class="container auth-page py-3 p-sm-4" id="ForgotPasswordPage">
            <div class="auth-page__title w-100">
                <h1>Şifremi Unuttum</h1>
                <span class="muted-text">Şifreni hatırlamıyorsan üyeliğini oluştururken
                    kullandığın e-posta adresini aşağıdaki alana yazın.</span>
            </div>
            <!-- id="ForgotPasswordForm" -->
            <form  action="" method="POST" class="auth-form w-100" novalidate="novalidate">
                {% csrf_token %}
                <!-- <input type="hidden" name="csrfmiddlewaretoken"
                    value="O1SWfIMhvoPgcwFxsrABo87HdMBqCxXefSeN2rbbXAOGQ3BPTEptmkdUhHvTym6E"> -->
                <label class="error" id="non_field_errors-error">{{form.non_field_errors}}</label>
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {{ field.help_text }}
                        <ul>
                            {% for error in field.errors %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                <button type="submit" class="button mb-4 pz-button__action">Şifremi Gönder</button>
                <div class="form-group text-center">
                    <span class="muted-text">Şifreni hatırladın mı?</span>
                    <a href="/users/login/" class="link" rel="nofollow">
                        Giriş Yap
                    </a>
                </div>

            </form>

        </div>


        <div id="ForgotPasswordSuccessTemplate" class="d-none">
            <div class="auth-page__title w-100 py-5">
                <h1>Şifre yenileme e-postanız gönderildi.</h1>
                <span class="muted-text">Lütfen e-postanızı kontrol edip yenileme linkine tıklayınız.</span>
                <div>
                    <a href="/" class="link" rel="nofollow">
                        Ana Sayfaya Dön
                    </a>
                </div>
            </div>
        </div>


    </div>
{% endblock body %}