{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="js-base-content wrapper">

    <div class="container auth-page py-3 p-sm-4" id="ForgotPasswordPage">
        <div class="auth-page__title w-100 py-5">
            <h1>Şifreniz yenilendi.</h1>
            <!-- <span class="muted-text">Lütfen e-postanızı kontrol edip yenileme linkine tıklayınız.</span> -->
            <div>
                <a href="/" class="link" rel="nofollow">
                    Ana Sayfaya Dön
                </a>
            </div>
        </div>
    </div>


    <div id="ForgotPasswordSuccessTemplate" class="d-none">
        <div class="auth-page__title w-100 py-5">
            <h1>Şifreniz yenilendi.</h1>
            <!-- <span class="muted-text">Lütfen e-postanızı kontrol edip yenileme linkine tıklayınız.</span> -->
            <div>
                <a href="{% url 'index:home' %}" class="link" rel="nofollow">
                    Ana Sayfaya Dön
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock body %}