{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="js-base-content wrapper">

        <div class="container account__container">
            <div class="row">
                <div class="col-lg-2 account__menu d-lg-block">


                    <a class="account-menu__item-title" href="/account/">Hesabım</a>

                    <div class="account-menu__item-wrapper">
                        <span class="account-menu__item-title d-block"></span>
                        <ul class="js-account-menu-list account-menu__item-list">

                            <li>
                                <a class="account-menu__item-link d-block" href="/users/orders/">
                                    <i class="icon-cart account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Siparişlerim</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/users/old-orders/">
                                    <i class="icon-eski_siparislerim account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Eski Siparişlerim</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/profile/">
                                    <i class="icon-profile account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Üyelik Bilgilerim</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/address/">
                                    <i class="icon-adres_degistirme account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Adreslerim</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/favourite-products/">
                                    <i class="icon-heart account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Favorilerim</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/change-email/">
                                    <i class="icon-email_degistirme account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">E-posta Değiştir</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/change-password/">
                                    <i class="icon-sifre_degistirme account-menu__item-icon"></i>
                                    <span class="account-menu__item-text active">Şifre Değiştir</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/coupons/">
                                    <i class="icon-kuponlar account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Kuponlarım</span>
                                </a>
                            </li>

                            <li>
                                <a class="account-menu__item-link d-block" href="/account/contact/">
                                    <i class="icon-bize_ulasin account-menu__item-icon"></i>
                                    <span class="account-menu__item-text">Bize Ulaşın</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-lg-10 account__content">

                    <h2>Şifre Değiştir</h2>
                    <p class="account__content__description">Şifreni değiştirmek için eski şifreni ve yeni şifreni iki defa
                        girip "Şifremi Değiştir” butonuna bas.</p>
                    <div id="changePasswordFormWrapper">
                        <form class="js-change-password-form" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            {{form.non_field_errors}}

                            <div class="password-input-wrapper">

                                <div class="input-wrapper">

                                    {{ form.old_password }}


                                </div>

                                <p class="d-none old-password-error p-error-msg">{{ form.old_password.errors }}</p>
                            </div>

                            <div class="password-input-wrapper">

                                <div class="input-wrapper">

                                    {{ form.new_password1 }}

                                </div>

                                <p class="d-none new-password1-error p-error-msg">{{ form.new_password1.errors }}</p>
                            </div>

                            <div class="password-input-wrapper">

                                <div class="input-wrapper">

                                    {{ form.new_password2 }}

                                </div>

                                <p class="d-none new-password2-error p-error-msg">{{ form.new_password2.errors }}</p>
                            </div>

                            <p class="password-description">Şifren en az 6 karakter uzunluğunda olmalı.</p>

                            <div class="button-wrapper">

                                <button class="button pz-button__action" type="submit"> Şifremi Değiştir </button>

                            </div>

                        </form>

                        <p class="js-form-message d-none">Değişiklikleriniz kaydedildi.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}